@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
  font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15.86px;
    line-height: 126%;
    letter-spacing: 0;
    color: #1E1E1E !important;
}
body {
  margin-left: 5%;
  margin-right: 5%;
  /* border: 1px solid black; */
}

@media(max-width:1024px){
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media(max-width:768px){
    body {
        margin-left: 0%;
        margin-right: 0%;
    }
}



