@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Lora:wght@400&display=swap');

body {
  font-family: 'Lora', serif; /* For passages */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif; /* For headings */
  font-weight: 700 !important;
}

p{
  line-height: 1.8 !important;
  font-size: larger;
}
html {
    scroll-behavior: smooth !important;
}
body {
  margin-left: 5%;
  margin-right: 5%;
  /* border: 1px solid black; */
}

@media(max-width:1024px){
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media(max-width:768px){
    body {
        margin-left: 0%;
        margin-right: 0%;
    }
}

/* loader  */
.fade-out {
    opacity: 0;
  }



  img {
    user-select: none;   /* Prevent text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    pointer-events: none; /* Optional: Prevents drag/drop and click events */
  }