.input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.h1 {
    color: rgb(91, 91, 91) !important;
}

.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  
  .ratio {
    overflow: hidden;
  }